*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #a283fc, #6637ed), #fafcfe;
  background-repeat: no-repeat;
  background-size: 100% 32%;

  display: grid;
  place-items: center;
}

.wrapper {
}

.container {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 15px 15px 40px rgba(1, 9, 31, 0.05);
  padding: 40px 30px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* grid-auto-flow: 2fr 1fr; */
  gap: 20px;
}

input {
  height: 40px;
  outline: none;
  border: none;
  color: #37373a;
  font-size: 16px;
  border-bottom: 1px solid #37373a;
}

button {
  background-color: #6637ed;
  color: #ffffff;
  border: none;
  outline: none;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgba(102, 55, 237, 0.8);
}

p {
  background-color: #ffffff;
  box-shadow: 12px 12px 30px rgba(1, 9, 31, 0.05);
  padding: 20px 20px;
  text-align: left;
  margin-top: 30px;
  color: #37373a;
  border-radius: 5px;
}

p span {
  font-weight: bold;
}
