*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, lavender, purple);
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  background-color: #fff;
  width: 45%;
  max-width: 500px;
  padding: 60px 0;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.timer-display {
  position: relative;
  width: 110%;
  background: linear-gradient(-135deg, #0048ce, #008bfd);
  left: -5%;
  padding: 40px 20px;
  color: #fff;
  font-size: 38px;
  text-align: center;

  display: flex;
  box-shadow: 0 20px 30px rgba(0, 139, 253, 0.25);
}

.timer-display span {
  flex: 1;
}

.timer-display span:nth-child(even) {
  flex: 0.1;
}

.buttons {
  width: 80%;
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-around;
}

button {
  background-color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  color: #141313;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  color: #0048ce;
  transform: translateY(-3px);
}
