*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    109.6deg,
    rgba(48, 207, 208, 1) 11.2%,
    rgba(51, 8, 103, 1) 92.5%
  );
}

.image-container {
  width: 30%;
  margin: 5% 0 0 5%;
}

img {
  max-width: 100%;
}

/** 확대 이미지가 보여지는 곳 */
.overlay {
  /*? background-position을 js로 설정해서 특정 부분을 확대한 효과를 준다. */
  background: url('./shoe-img.jpg');
  position: absolute;
  width: 25%;
  height: 35%;
  margin-top: -30%;
  margin-left: 50%;
  border: 2px solid #555;
  z-index: 1000;
  background-repeat: no-repeat;
}

/* 마우스를 따라다니는 영역 (이부분이 확대된다)*/
.mouse-overlay {
  cursor: zoom-in;
  position: absolute;
  width: 2em;
  height: 2em;
  transform: translate(-50%, -50%);
  background-color: rgba(245, 245, 245, 0.6);
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .image-container {
    width: 55%;
  }

  .overlay {
    margin-left: 70%;
    width: 25%;
    height: 15%;
  }
}
