@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css');
@import url(./reset.css);

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;

  background-color: darkslateblue;
}

#app {
  /* overflow: scroll; */
}

img {
  width: 100%;
}

.movie-container {
  height: 100vh;
  width: 672px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.movie {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 64px;
}

.poster-container {
  position: absolute;
  left: -64px;
  width: 281px;
  height: 396px;
  border-radius: 10px;
  overflow: hidden;
}

/* content */
.content {
  width: 608px;
  height: 500px;
  background-color: #333;
  border-radius: 15px;
  color: white;
  padding-top: 64px;
  padding-left: 266px;
  box-sizing: border-box;
}

.content-type span {
  color: #bdbdbd;
}

.content-type span + span::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 13px;
  background: #bdbdbd;
  margin-right: 7px;
  margin-bottom: -1px;
  margin-left: 3px;
}

.content-title {
  font-size: 32px;
  font-weight: 700;
  margin-top: 13px;
  margin-bottom: 114px;
  line-height: 46px;
}

.content-favorite {
  display: flex;
  margin-bottom: 22px;
}

.content-favorite button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 99999vmin;
  margin-right: 20px;
}

.button-recommend .icon-thumbs-up {
  overflow: hidden;
  text-indent: -10000px; /* 글자에 여백을 주어서 화면에 안보이게 처리*/
  background-image: url('../assets/thumbsup.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 29px;
  height: 29px;
}

.button-recommend.active .icon-thumbs-up {
  background-image: url('../assets/thumbsup_2.png');
}

.button-recommend.active {
  background-color: #2f80ed;
}

.button-heart .icon-heart {
  overflow: hidden;
  text-indent: -10000px;
  background-image: url('../assets/heart.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 29px;
  height: 29px;
}

.button-heart.active .icon-heart {
  background-image: url('../assets/heart_2.png');
}

.button-heart.active {
  background-color: #eb5757;
}

/* 별점 */
.star-average {
  display: block;
  margin-bottom: 16px;
}

.star-point-container {
  display: flex;
  align-items: center;
}

.star-background {
  display: flex;
}

.star-background img {
  width: 51px;
}

.icon-remove-star {
  width: 22px;
  height: 22px;
  margin-left: 11px;
}
