* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #8052ec, #d161ff);
}

.container {
  width: 90vmin;
  background-color: #ffffff;
  padding: 5em;
  border-radius: 0.6em;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.25);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 1em 0;
}

canvas {
  border: 1px solid #000000;
  border-radius: 0.4em;
  height: 50px;
  flex: 1;
}

button#reload-button {
  font-size: 26px;
  width: 4.6em;
  background-color: #8052ec;
  border: none;
  border-radius: 0.4em;
  color: #ffffff;
}

input[type='text'] {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.05em;
  width: 100%;
  padding: 1em 0.7em;
  border: 1px solid #000000;
  border-radius: 0.4em;
}

button#submit-button {
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  background-color: #8052ec;
  color: #ffffff;
  font-size: 1.5em;
  border: none;
  margin-top: 1em;
  padding: 0.8em 0;
  border-radius: 0.4em;
}
