*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #151320;
  display: grid;
  place-items: center;
  height: 100vh;
}

div {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: #1c1b23;
  border-radius: 5px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

div::before {
  content: '';
  position: absolute;
  background: conic-gradient(#04b0ee 20deg, transparent 120deg);
  /*? 배경 크기를 원본보다 1.5배 키우고 중심을 원본 중심으로 이동시키자. */
  height: 150%;
  width: 150%;
  left: -25%;
  top: -25%;
  animation: rotate 2s infinite linear;
}

div::after {
  content: attr(data-content); /* dataSet의 값을 적용 */
  position: absolute;
  /*? 보더 효과가 보이도록 크기를 살짝 줄이고 가운데 위치시키자 */
  height: 94%;
  width: 94%;
  top: 3%;
  left: 3%;
  background-color: #1c1b23;
  color: #04b0ee;
  border-radius: 5px;

  /* 글자를 가운데 위치시키자 */
  display: grid;
  place-items: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 6px;
}

/* 반시계방향 회전 */
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
