* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: lavender;
  width: 100%;
  height: 100%;

  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #212121;
}

header {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  z-index: 0;
}

header div {
  position: absolute;
  z-index: 1;
  top: 50%;
  padding: 0 30px;
  font-family: 'Roboto Condensed', sans-serif;
}

header h1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: #009688;
}

header h2 {
  font-size: 2.2rem;
  font-weight: 300;
}
